<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Eventos</title>
    <!-- <link rel="stylesheet" th:href="@{/style/formEVents.css}"> -->
</head>

<body>
    <div th:replace="~{menu :: menu}"></div>
    <div class="container">
        <h1>Adicionar Eventos</h1>
        <form action="/events" method="post">
            <div>
                <label>Nome: </label>
                <input type="text" name="name" placeholder="Informe o nome do evento">
            </div>

            <div>
                <label>Local: </label>
                <input type="text" name="local" placeholder="Informe o local do evento">
            </div>

            <div>
                <label>Data: </label>
                <input type="date" name="date" placeholder="Informe a data do evento">
            </div>

            <div>
                <label>Horário: </label>
                <input type="time" name="hour" placeholder="Informe o horario do evento">
            </div>

            <div>
                <button class="waves-effect waves-light btn" type="submit">Confirmar Evento</button>
                <button class="waves-effect waves-light btn" type="reset">Limpar Formulário</button>
            </div>
        </form>
    </div>
</body>

</html>