<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
    <link rel="stylesheet" th:href="@{/style/formEVents.css}">
</head>
<body>
<h1>Adicionar Eventos</h1>
<form action="">
   <div>
       <label>Nome: </label>
           <input type="text" name="nome" placeholder="Informe o nome do evento">
   </div>

    <div>
        <label>Local: </label>
        <input type="text" name="local" placeholder="Informe o local do evento">
    </div>

    <div>
        <label>Data: </label>
        <input type="date" name="data" placeholder="Informe a data do evento">
    </div>

    <div>
        <label>Horário: </label>
        <input type="datetime-local" name="horario" placeholder="Informe o horario do evento">
    </div>

    <div>
        <button type="submit">Confirmar Evento</button>
        <button type="reset">Limpar Formulário</button>
    </div>
</form>
</body>
</html>